html, body {
	padding: 0px;
	margin: 0px;
}

p {
	padding: 8px;
	margin: 8px;
}

html, body, div, h1, h2, p, ul, li {
	font-family: 'Droid Serif', serif;
	color: #121212;
	text-align: left;
  line-height: 1.8;
}

a {
	color: #ec8664;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.section {
	padding: 16px;
}

div.chinese {
	background-color: #111111;
}

div.chinese h1, div.chinese h2, div.chinese p, div.chinese ul, div.chinese li {
	color: #FEFEFE;
}
