html, body, h1, p {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #1b1b1b;
}

html, body, div, h1, p, ul, li {
	font-family: 'Droid Serif', serif;
	color: #FFFFFF;
	text-align: left;
}

h1 {
	font-size: 35px;
	line-height: 1.34;
}

p {
	font-size: 22px;
	line-height: 1.59;
	text-align: left;
}

a {
	color: #ec8664;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.divider {
	background-color: #bc8386;
	height: 4px;
	width: 145px;
}

.divider2 {
	background-color: #7c7fab;
	height: 4px;
	width: 145px;	
}

div#container {
	background-image: url('../resources/background.png');
	background-repeat: no-repeat;
	background-position: top right;

	position: absolute;
	right: 0;

	margin-top: 88px;
	width: 990px;
	height: 2165px;
}

div#content_col  {
	position: absolute;
	width: 460px;
}
	.content_title {
		margin-top: 32px;
	}

	.content_blurb {
		margin-top: 374px;
	}
		.content_blurb p {
			margin-top: 16px;
		}

	.content_products {
		margin-top: 170px;
	}
		.content_products p {
			margin-top: 16px;
		}

	.content_logos {
		margin-top: 170px;
	}
		.content_logos li {
			margin-bottom: 40px;
		}

	.content_contact {
		margin-top: 170px;
	}
		.content_contact li {
			margin-bottom: 8px;
			font-size: 22px;
			line-height: 2.18;
		}	

div#design_col {
	background-image: url('../resources/illustration.png');

	position: absolute;
	right: 0;

	margin-right: 56px;
	margin-top: 220px;
	width: 511px;
	height: 224px;
}