html, body, h1, p {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #1b1b1b;
}

html, body, div, h1, p, ul, li {
	font-family: 'Droid Serif', serif;
	color: #FFFFFF;
	text-align: left;
}

h1 {
	font-size: 35px;
	line-height: 1.34;
}

p {
	font-size: 22px;
	line-height: 1.59;
	text-align: left;
}

a {
	color: #ec8664;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.divider {
	background-color: #bc8386;
	height: 4px;
	width: 145px;
}

.divider2 {
	background-color: #7c7fab;
	height: 4px;
	width: 145px;	
}

.clear_right {
	clear: right;
}

div#container {
	background-image: url('../resources/background.png');
	background-repeat: no-repeat;
	background-position: top right;

	position: absolute;
	right: 0;

	margin-top: 88px;
	width: 990px;
	height: 2165px;
}

div#content_col  {
	position: absolute;
	width: 460px;
}
	.content_logo {
		margin: 0px;
	}

	.content_title {
		margin-top: 32px;
		width: 380px;
	}

	.content_design_mobile {
		display: none;
		height: 259px;
		position: absolute;
		right: 0;
		margin-top: 6px;
	}

	.content_blurb {
		margin-top: 374px;
	}
		.content_blurb p {
			margin-top: 16px;
		}

	.content_products {
		margin-top: 170px;
	}
		.content_products p {
			margin-top: 16px;
		}

	.content_logos {
		margin-top: 170px;
	}
		.content_logos li {
			margin-bottom: 40px;
		}
			.logo_kpmg {
				width: 118px;
				height: 48px;
			}
			.logo_deloitte {
				width: 179px;
				height: 34px;
			}
			.logo_santander {
				width: 282px;
				height: 51px;
			}
			.logo_clydesdale_bank {
				width: 382px;
				height: 46px;
			}

	.content_contact {
		margin-top: 170px;
	}
		.content_contact li {
			margin-bottom: 8px;
			font-size: 22px;
			line-height: 2.18;
		}	

div#design_col {
	background-image: url('../resources/illustration.png');

	position: absolute;
	right: 0;

	margin-right: 56px;
	margin-top: 220px;
	width: 511px;
	height: 224px;
}

@media (max-width: 996px) {

	div#container {
		background: none;
		position: static;
		margin: 0 auto;
		margin-top: 74px;
		width: 320px;
	}

	div#content_col {
		position: static;
		width: 320px;
	}
		.content_logo {
			margin-left: 29px;
		}

		.content_title {
			margin-left: 29px;
			margin-top: 32px;
			width: 261px;
		}

		.content_design_mobile {
			display: block;
		}

		.content_blurb {
			margin-left: 29px;
			margin-top: 297px;
			width: 261px;
		}

		.content_products {
			margin-left: 29px;
			margin-top: 109px;
			width: 261px;
		}

		.content_logos {
			margin-left: 29px;
			margin-top: 110px;
			width: 261px;
		}
			.content_logos li {
				margin-bottom: 26.7px;
			}
				.logo_kpmg {
					width: 79.7px;
					height: 30.3px;
				}
				.logo_deloitte {
					width: 125px;
					height: 26px;
				}
				.logo_santander {
					width: 191px;
					height: 33px;
				}
				.logo_clydesdale_bank {
					width: 261px;
					height: 33px;
				}

		.content_contact {
			margin-left: 29px;
			margin-top: 110px;
			margin-bottom: 166px;
			width: 261px;
		}

	div#design_col {
		display: none;
	}
}